{% extends 'base.html.twig' %}
{% block title %}Planning{% endblock %}
{% block stylesheets %}
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <link href='/../../css/Calendar.css' rel = 'stylesheet'>
{% endblock %}
{% block body %}

        <div id="calendrier"></div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>

    <script>
        function displayCalendar(){
        var elCalendar = document.getElementById('calendrier');
        var calendar = new FullCalendar.Calendar(elCalendar, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar:{
                start:'prev,next today',
                center:'title',
                end:'dayGridMonth,timeGridWeek'
            },
            events: {{ data|raw }}
        });
        calendar.render();
        }
        window.onload = displayCalendar();
    </script>
{% endblock %}